<!--
<div class="d-flex justify-content-center align-items-center overflow-auto" style="height: 100vh">
  <div class="mainDiv">
    <div class="lottie-style">
      &lt;!&ndash;<ng-lottie [options]="{path:'/assets/media/lottie/error403.json'}"></ng-lottie>&ndash;&gt;
      <img alt="403" src="assets/media/images/svg/errors/403.svg"/>
    </div>
    <div style="display: grid;justify-content: center;line-height: 2">
      <img alt="back" class="cursor-pointer" routerLink="/" src="assets/media/images/svg/errors/backButton.svg"/>
      &lt;!&ndash;<button class="btn-primary" routerLink="/">بازگشت به صفحه اصلی</button>&ndash;&gt;
    </div>
  </div>
</div>
-->
