<div class="flex justify-center items-center " style="height: 100vh">
  <div class="mainDiv">
    <div class="lottie-style w-full h-screen">
      <!--<ng-lottie [options]="{path:'/assets/media/lottie/error404.json'}"></ng-lottie>-->
      <img alt="404" src="img/err404.png"/>
    </div>
    <div style="display: grid;justify-content: center;line-height: 2">
      <!--<button class="btn-primary" routerLink="/">بازگشت به صفحه اصلی</button>-->
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
      </svg>
      
    </div>
  </div>
</div>
