<main class=" md:mr-48 h-full pt-24" dir="rtl">

    <div class="bg-white relative border-dashed rounded-lg dark:border-gray-600 mb-4 overflow-scroll" style="height: 100vh;" >   


                            <app-map #map></app-map>
        
                            <!--********************************** modal level 1 start **************************************-->

                            <ng-template  #view>
                                
                                    <div class="modal-header flex justify-between p-3">
                                        <div class="modal-title">
                                          <span ><h1>افزودن تسک</h1></span>
                                        </div>
                                        <div class="close">
                                          <button (click)="modalService.close()">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                                            </svg>        
                                          </button>
                                        </div>
                                    </div>
                                    <div class="modal-body-form flex flex-col space-y-4 p-4">                           
                                      <!-- Dropdown menu -->        

                                        <p>برای افزودن تسک لطفا فرم زیر را پر کنید</p>

                                        <!-- team select -->
                                        <div class="relative my-6 border border-gray-300 h-full">
                                            <div>
                                              <input 
                                              aria-controls="dropdownRadioBgHover"
                                              data-collapse-toggle="dropdownRadioBgHover"
                                              [(ngModel)]="teamInputvalue" 
                                              [ngClass]="{'-top-4': teamInputvalue!=''}"
                                              type="text" id="small_outlined" class="block p-6  px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg  appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="لطفا نام تیم مورد نظر را وارد کنید" />
                                              <label for="small_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform  scale-75 -top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-top-2  peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">نام تیم</label>
                                              <label for="small_outlined " class="absolute top-2 left-3" 
                                              aria-controls="dropdownRadioBgHover"
                                              data-collapse-toggle="dropdownRadioBgHover">
                                                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24">
                                                   <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                                </svg>
                                              </label>
                                            </div>
                                            <div id="dropdownRadioBgHover" class="hidden z-10 w-100 bg-white transform -translate-y-1 divide-y rounded-b-lg dark:bg-gray-700 dark:divide-gray-600 border-[2px] border-t-0 ">
                                              <ul class=" p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButton">
                                                <li *ngFor="let item of filteredItems()">
                                                  <div class="flex flex-row-reverse items-baseline p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                                      <input id="default-radio-4" type="radio" [value]="item" (click)="changeValueTeams(item)" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                      <label for="default-radio-4" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{item}}</label>
                                                  </div>
                                                </li>
                                              </ul>
                                            </div>    
                                        </div>

                                        <!-- team member select -->
                                        <div class="relative my-6 border border-gray-300 h-full">
                                          <div>
                                            <input 
                                            aria-controls="dropdownteammembers"
                                            data-collapse-toggle="dropdownteammembers"
                                            [(ngModel)]="result"
                                            
                                            type="text" id="small_outlined" class="block p-6  px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg  appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="لطفا نام تیم مورد نظر را وارد کنید" />
                                            <label for="small_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform  scale-75 -top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-top-2  peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">اعضای تیم</label>
                                            <label for="small_outlined " class="absolute top-2 left-3" 
                                            aria-controls="dropdownteammembers"
                                            data-collapse-toggle="dropdownteammembers">
                                              <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24">
                                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                                              </svg>
                                            </label>
                                          </div>
                                          <div id="dropdownteammembers" class="hidden z-10 w-100 bg-white transform -translate-y-1 divide-y rounded-b-lg dark:bg-gray-700 dark:divide-gray-600 border-[1px] border-t-0 ">
                                            <ul class=" p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButton">
                                              <li *ngFor="let item of filteredTeamMembers()">
                                                <div class="flex flex-row-reverse justify-between items-baseline p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                                    <input id="default-radio-4" type="checkbox" [value]="item.name" (click)="changeValueTeamsMember(item.name)" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                                    <div class="flex flex-row">
                                                      <img src="{{item.imgurl}}" alt="">
                                                      <label for="default-radio-4" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{item.name}}</label>
                                                    </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>    
                                        </div>

                                        <div class="relative my-6">
                                          <input type="text" id="small_outlined" class="block p-6  px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="عنوان تسک را وارد کنید" />
                                          <label for="small_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 translate-x-6  scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-6 peer-placeholder-shown:-translate-x-2   peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-3 rtl:peer-focus:left-auto">تسک</label>
                                        </div>

                                        <div class="relative my-6">
                                          <input type="text" id="small_outlined" class="block p-6  px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="توضیحات تسک را وارد کنید" />
                                          <label for="small_outlined" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 translate-x-6  scale-75 top-1 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-6 peer-placeholder-shown:-translate-x-2   peer-placeholder-shown:top-1/2 peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 start-1 rtl:peer-focus:translate-x-3 rtl:peer-focus:left-auto">توضیحات</label>
                                        </div>

                                        <button (click)="toLevelTwoAddTask()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5  mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">ثبت</button>
                                    </div>
                                
                                
                            </ng-template>
             
                            <!--********************************** modal level 1 end ******************************************-->

                            <!--********************************** modal level 2 start **************************************-->

                                  <ng-template  #viewLT>
          
                                    <div class="modal-header flex justify-between p-3">
                                        <div class="modal-title">
                                          <span ><h1>افزودن تسک</h1></span>
                                        </div>
                                        <div class="close">
                                          <button (click)="modalService.close()">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                                            </svg>        
                                          </button>
                                        </div>
                                    </div>
                                    <div class="modal-body-form flex flex-col space-y-4 p-4">                           
                                      <!-- Dropdown menu -->        

                                        <p>برای افزودن تسک لطفا مراحل انجام تسک را وارد کنید</p>



                                        <div class="relative my-6 flex flex-row">
                                          <input [(ngModel)]="badgeInput" (keydown.enter)="onEnter()"  type="text" id="small_outlined" class="block p-6 ml-2 px-2.5 pb-1.5 pt-3 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" />
                                          <button (click)="onEnter()">
                                            <svg class="w-6 h-6 text-blue-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                            </svg>
                                          </button>
                                        </div>
                                        <div>
                                          <span id="badge-dismiss-default" *ngFor="let badge of badgeArray; let i = index" class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">{{badge}}
                                            <button type="button"  (click)="removeBadge(i)" class="inline-flex items-center p-1 ms-2 text-sm text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300" data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                                              <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                              </svg>
                                              <span class="sr-only">Remove badge</span>
                                            </button>
                                          </span>
                                        </div>
                                        

                                        <button (click)="submitTask()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5  mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">ثبت</button>
                                    </div>
                                
                                
                                  </ng-template>
              
                            <!--********************************** modal level 2 end ******************************************-->

    </div>

</main>

