

  :host ::ng-deep .swiper-button-prev-unique {
    left: 0;
    top: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 999999;
  }
  
  :host ::ng-deep .swiper-button-next-unique {
    right: 0;
    top: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 99999;
  }
  