<div class="headercard-info h-72 rounded-lg z-40 w-[90%] bg-white top-[-54px] right-0">
    <div class="dropdown-header flex justify-between p-3">
      <div class="dropdown-title">
        <span ><h1>ویرایش اطلاعات</h1></span>
      </div>
      <div class="close">
        <button data-dropdown-toggle="new-dropdown">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.82843 6.9999H16V8.9999H3.82843L9.1924 14.3638L7.7782 15.778L0 7.9999L7.7782 0.22168L9.1924 1.63589L3.82843 6.9999Z" fill="#5D5D5D"/>
            </svg>
                 
        </button>
      </div>
  </div>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700 mt-5">

    </ul>
  </div>